                  <html>

                  <head>
                    <title>SLIDE | About </title>
                    <link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
                    <!-- Standard Meta -->

                    <% include ../partials/menu %>




                    <div class="ui centered stackable doubling grid">
                      <div class="row">
                        <h1 class="ui text container" id="title"
                          style="font-size:60px;color:;font-family: 'Roboto Condensed', sans-serif;">SLIDE'S HISTORY
                        </h1>
                      </div>
                      <div class="row">
                        <div class="ui text container medium grey header"
                          style="font-size:23px;font-weight:bold;font-style:italic;line-height:1.6" ;>The most important
                          thing about any organization's history is how it came about and who were the people that
                          strove hard to create it. Here are the people that did just that!</div>
                      </div>


                      <div class="ui centered row" style="padding:70px">
                        <div class="eight wide column">
                          <div class="ui container"
                            style="padding: 0 70px 40px 70px;position: relative;top: 50%;transform: translateY(-50%);">
                            <h1 class="ui huge blue header" style="font-size:5em">A New Rise</h1>
                            <p style="font-size:180%;font-family: 'Roboto Condensed', sans-serif;line-height: 1.6;">
                              Beginning of spring semester of 2017, members of what used to be known as MSC LEAD came
                              together to form a sophomore leadership organization that would continue what MSC LEAD
                              used to do by developing necessary leadership qualities and skills through experience.
                            </p>
                          </div>
                        </div>
                        <div class="eight wide column">
                          <img class="ui centered big image " src="https://image.ibb.co/b5yUp8/new.png" alt="new"
                            border="0">
                        </div>
                      </div>




                      <div class="ui centered row" style=" padding: 70px">

                        <div class="eight wide column">
                          <div class="ui container"
                            style="padding: 40px 70px 40px 70px; position: relative;top: 50%;transform: translateY(-50%);">
                            <h1 class="ui huge blue header" style="font-size:5em">A New Legacy </h1>
                            <p style="font-size:180%;font-family: 'Roboto Condensed', sans-serif;line-height: 1.6;">Upon
                              building the framework for the organization, the founding Officers partnered to create
                              what is now known as Sophomore Leaders Impacting, Developing, and Educating. Established
                              in the Fall of 2017, SLIDE welcomed its first eighty members to build our vision of the
                              three pillars: <a>service</a>, <a>awareness<a>, and <a>community outreach</a>.</p>
                          </div>
                        </div>
                        <div class="eight wide column">
                          <img class="ui centered huge image " src="https://image.ibb.co/nhnxsT/Layer_3.png"
                            alt="Layer_3" border="0" style="position: relative;top: 50%;transform: translateY(-50%);">
                        </div>

                      </div>

                      <!--<div class="row">-->
                      <!--    <div class="ui container divider"></div>-->
                      <!--</div> -->

                      <div class="ui centered row" style="padding: 70px ">
                        <div class="eight wide left aligned column">
                          <div class="ui container"
                            style="padding: 90px 70px 40px 70px; position: relative;top: 50%;transform: translateY(-50%);">
                            <h1 class="ui huge blue header" style="font-size:5em">A New Impact</h1>
                            <p style="font-size:180%;font-family: 'Roboto Condensed', sans-serif;line-height: 1.6;">
                              Today, SLIDE strives to better the community and themselves by spreading awareness against
                              sexual assault and mental health stigma and also by exemplifying student leadership
                              throughout the Texas A&M campus and the Brazos community. </p>
                          </div>
                        </div>
                        <div class="eight wide column">
                          <img class="ui centered medium image" src="https://image.ibb.co/egUihT/Layer_4.png" border="0"
                            style=" size:100%;position: relative;top: 50%;transform: translateY(-50%);">
                          <!--https://image.ibb.co/egUihT/Layer_4.png-->
                        </div>
                      </div>

                      <div class="row">
                        <div class="ui container divider"></div>
                      </div>


                      <div class=" ui center aligned row" style="padding-top:60px">
                        <div class="column">
                          <h3 class="ui centered header"
                            style="font-family: 'Roboto Condensed', sans-serif;letter-spacing: 0.17em;">ONE IMPORTANT
                            QUESTION.</h3>
                          <h1 class="ui centered huge blue header"
                            style="font-size:45px;font-family: 'Roboto Condensed', sans-serif;line-height: 1.6;">WHAT IS
                            SLIDE ABOUT?</h1>
                          <p class="ui container "
                            style="font-size:130%;text-align:center;padding: 20px 70px 20px 70px;line-height: 1.6;">
                            Sophomores Leaders Impacting, Developing, and Educating provides experiential learning
                            opportunities and professional development to
                            sophomore student leaders who plan, implement, and participate in outreach and awareness
                            programs impacting the Texas A&M campus and community.</p>
                        </div>
                      </div>

                      <div class=" ui center aligned row" style="padding-top:20px">
                        <div class="column">
                          <!--<h3 class="ui centered grey header"  style="font-family: 'Roboto Condensed', sans-serif;letter-spacing: 0.17em;">ONE IMPORTANT QUESTION.</h3>-->
                          <h1 class="ui centered huge blue header"
                            style="font-size:45px;font-family: 'Roboto Condensed', sans-serif;line-height: 1.6;">SLIDE
                            AIMS TO...</h1>

                        </div>
                      </div>

                      <div class="ui center aligned row" style="padding: 30px 0 40px 0">
                        <div class=" ui center aligned four wide column">
                          <i class="bullhorn massive icon"></i>
                          <p style="font-size:130%;padding:30px 0 30px 0">Provide sophomores with the skills and
                            resources to develop their leadership capabilities.</p>
                        </div>

                        <div class=" ui center aligned sfour wide column">
                          <i class="users massive icon"></i>
                          <p style="font-size:130%;padding:30px 0 30px 0"> Participate in high-impact programming that
                            aligns with the organization’s mission of Community Outreach, Service, and Awareness.</p>
                        </div>

                        <div class="ui center aligned  four wide column">
                          <i class="handshake massive icon"></i>
                          <p style="font-size:130%;padding:30px 0 30px 0">Build strong friendships among members and
                            promote unity within the organization.</p>
                        </div>
                      </div>

                      <div class="row" style="padding: 30px 0 30px 0">
                        <div class="ui container divider"></div>
                      </div>

                    </div>


                    <h3 class="ui container centered header"
                      style="font-family: 'Roboto Condensed', sans-serif;letter-spacing: 0.17em;">WHAT DOES THE WEEKLY
                      LIFE OF A SLIDER LOOK LIKE?</h3>



                    <h1 class="ui container centered huge header"
                      style="font-size:45px;font-family: 'Roboto Condensed', sans-serif;line-height: 1.6;">SLIDE
                      DAY-TO-DAY</h1>


                    <!--  <div class="ui text container medium " style="font-size:20px">The Leadership committee will organize and facilitate the Development Meetings, other
            Development opportunities, and socials within SLIDE to unite the organization. We aim to exhibit the
            values of development in leadership, various career goals, and outreach awareness.</div>
        </div> -->

                    <div class="ui container" style="padding-top: 40px">
                      <div class="ui items">
                        <div class="item">
                          <a class="ui medium image">
                            <img src="https://i.ibb.co/vYQDM3W/Image-1-17.jpg" alt="IMG_0689" border="0">
                          </a>
                          <div class="middle aligned content">
                            <a class="ui blue header">Developmental Meetings</a>
                            <div class="description">
                              <p>Developmental Meetings (DMs) are held every Wednesday from 7:00pm to 8:00pm. The focus
                                of the meetings is to provide sophomores with opportunities for them to craft their own
                                leadership styles.</p>

                            </div>
                          </div>
                        </div>
                        <div class="item">
                          <a class="ui medium image">
                            <img src="https://i.ibb.co/T068S44/Image-1-18.jpg" alt="DSC_0031" border="0">
                          </a>
                          <div class="middle aligned content">
                            <a class="ui blue  header">Subcommittees</a>
                            <div class="description">
                              <p>Subcommittees are designed to disperse the tasks of the organization into specialized
                                units that focus on a branch of the organization's mission purpose. Check out each of
                                each of <a href="/committees"> <u> <b>our committees</b> </u></a>! </p>

                            </div>
                          </div>
                        </div>
                        <div class="item">
                          <a class="ui medium image">
                            <img src="https://i.ibb.co/CnCb9t4/Image-1-21.jpg" alt="IMG_2424" border="0">
                          </a>
                          <div class="middle aligned content">
                            <a class="ui blue  header">Subcommittee Meetings</a>
                            <div class="description">
                              <p>Subcommittee meetings are designed to plan, organize, and execute the tasks and goals
                                of each subcommittee. Unlike DMs, these meetings will be more hands-on experience with
                                carrying out leadership responsibilities and duties.</p>
                            </div>
                          </div>
                        </div>
                        <div class="item">
                          <a class="ui medium image">
                            <img src="https://i.ibb.co/zRDgfCC/Image-1-20.jpg"
                              alt="24296536_508801282827519_8369385235404260890_n" alt="IMG_2424" border="0">
                          </a>
                          <div class="middle aligned content">
                            <a class="ui blue  header">Social Life & Hangouts</a>
                            <div class="description">
                              <p>Socials are a chance for members and staff to mingle and form friendships. Socials are
                                not mandatory. However, for anything in life: “You get whatever you put in.” That being
                                said, if you invest time socializing with your fellow SLIDErs, you may find a family
                                here.</p>
                            </div>
                          </div>
                        </div>
                        <div class="item">
                          <a class="ui medium image">
                            <img src="https://i.ibb.co/TKTrgtb/IMG-0139.jpg">
                          </a>
                          <div class="middle aligned content">
                            <a class="ui blue  header">Big & Little</a>
                            <div class="description">
                              <p>New members are matched and paired with Slide Alumni that will serve as mentors and
                                friends to their littles throughout the academic year.</p>
                            </div>
                          </div>
                        </div>
                        <div class="item">
                          <a class="ui medium image">
                            <img src="https://i.ibb.co/9yNk1Vv/Image-1-22.jpg" alt="2" border="0">
                          </a>
                          <div class="middle aligned content">
                            <a class="ui blue  header">Retreats</a>
                            <div class="description">
                              <p>Retreats are usually hosted for about two days and are focused on developing the bonds
                                and friendships among SLIDE’s staff and members. There are two retreats: one during the
                                Fall Semester, and one during the Spring Semester. During this time, sophomores and
                                staff will engage in team building exercises and eat some delicious food!</p>
                            </div>
                          </div>
                        </div>
                        <div class="item">
                          <a class="ui medium image">
                            <img src="https://i.ibb.co/MBbGKn3/Image-1-23.jpg" alt="IMG_3199" border="0">"
                          </a>
                          <div class="middle aligned content">
                            <a class="ui blue  header">Banquet</a>
                            <div class="description">
                              <p>To not ruin the surprise, banquet is a sentimental time for sophomores and staff to
                                reflect and cherish the beautiful memories and moments they have shared together during
                                the Fall and Spring semesters. Banquet is held towards the end of the Spring Semester in
                                April.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!--=================================================================================================== -->



                    <!--=================================================================================================== -->
                    <div style="height:20px"></div>
                    <% include ../partials/footer %>

                    <script type="text/javascript" src="/javascripts/about.js"></script>

                    </body>
                    <!--=================================================================================================== -->

                  </html>