<html>
    <head>
        
        <!-- Standard Meta -->
        
        <title>SLIDE | Admissions</title>
        <link  rel="stylesheet" type="text/css" href="/stylesheets/apply.css">  
        
         <% include ../partials/menu %>
         
         <!--=================================================================================================== --> 
            
    
        <!-- <div id = "bigpic">
           <img id = "pic"  src="https://i.ibb.co/bNTn7kZ/Image-1-17.jpg"  border="0">
            <div class="middle" id="meet"><h3 id="p"></h3></div>
        </div> -->
        
    
        
        
        <!--=================================================================================================== -->  
       <div class="ui container" style="margin-top: 40px">
        <div class = "ui red huge centered header" style="font-size:60px;  font-family: 'Arial';font-weight: bold; padding-top:70px;padding-bottom:17px;">2019-2020 ADMISSIONS</div>
         <div class="ui inverted centered text container medium header segment" style="font-size:23px;padding-bottom:45px;">
             <p>Howdy Class of 2022! Below is information pertaining to our upcoming "Meet and Greet" and informationals.
                Furthermore, if you are interested in applying for SLIDE, click the link below to download the application. Thanks and Gig 'Em!
             </p>
             <p>Applications can be turned in on <b><u> Friday, September 6th</u></b> in <b><u>MSC Starbucks</u></b> between <b><u>9:00 AM </u></b> and <b><u>5:00 PM</u></b></p>
             <p></p>
             <div id="pdf" style="margin-bottom: 30px"><i class="ui  huge file pdf outline icon"></i></div>
             <a href="https://docs.google.com/document/d/1lb4p3Z5U1n_cjE7ie2YIUPgoI_jj9ji6SxFyUiwVMkQ/edit?usp=sharing"><button id="apply-button" class="ui red big  button">'19-'20 Member Application</button></a>
        </div>
        <div class="ui divider"></div>
    <div class="ui vertical stripe quote segment">
        <div class="ui equal width  center aligned stackable internally celled grid">
        <div class="row">
          <div class=" column">
            <div  style="padding-top:50px;padding-bottom:50px;text-align:center;">
            
            <h2 class="ui icon huge header">
              <i class="red bullhorn icon"></i>
              <div class="content">
                <h1 style="text-decoration:underline;font-family: 'Arial'; font-size: 30px;">Informational I</h1>
              </div>
            </h2>
            <h3>Monday,&nbsp;September 2nd</h3>
            <h3>7:00 pm - 8:00 pm</h3>
            <h3>MSC 2405</h3>
         </div>
         </div>
         <div class=" column">
          <div  style="padding-top:50px;padding-bottom:50px;text-align:center;">
          
          <h4 class="ui icon huge header">
            <i class="red bullhorn icon"></i>
            <div class="content">
              <h3 style="text-decoration:underline;font-family: 'Arial'; font-size: 30px;">Informational II</h3>
            </div>
          </h4>
          <h3>Tuesday,&nbsp;September 3rd</h3>
          <h3>5:30 pm - 6:30 pm</h3>
          <h3>Rudder 302</h3>
       </div>
       </div>
         
         <div class="column">
            <div  style="padding-top:50px;padding-bottom:50px;text-align:center;">
            <h2 class="ui icon huge header">
              <i class="red handshake outline icon"></i>
              <div class="content">
                <h1 style="text-decoration:underline;font-family: 'Arial'; font-size: 30px;">Meet & Greet</h1>
              </div>
            </h2>
            <h3>Wednesday,&nbsp;September 4th</h3>
            <h3>4:00 pm - 9:00 pm</h3>
            <img style="padding: 10px 0 10px 0" class="ui centered small image" src="https://adc3ef35f321fe6e725a-fb8aac3b3bf42afe824f73b606f0aa4c.ssl.cf1.rackcdn.com/tenantlogos/28135.png"></img>
            <h3>723 Texas Ave</h3>
            <h3>College Station, TX 77840</h3>
         </div>
         </div>
         
         <div class=" column">
           <div  style="padding-top:50px;padding-bottom:50px;text-align:center;">
            <h2 class="ui icon huge header">
              <i class="red bullhorn icon"></i>
              <div class="content">
                <h1 style="text-decoration:underline;font-family: 'Arial'; font-size: 30px;">Informational III:</h1>
              </div>
            </h2>
            <h3>Thursday,&nbsp;September 5th</h3>
            <h3>5:30 pm - 6:30 pm</h3>
            <h3>MSC 2405</h3>
        </div> 
         </div>
     </div> 
     
     </div>
     
     <div class="ui divider"></div>
     
       <div class="ui center aligned grid" style="padding:50px">
          <p style="text-align:center">
              
               <h1 style="text-decoration:underline;font-family: 'Arial'; font-size: 25px;" class="ui centered header">SEPTEMBER 2019 ADMISSIONS SCHEDULE</h1>
               <p style="text-align:center;padding-top:20px">
                  <img src="https://i.ibb.co/GPKcSV4/Screen-Shot-2019-09-02-at-5-58-09-PM.png" alt="goodcalender" border="0" style="width:90%">
                </p>
           </p>
           </div>
        </div>
      
     

     
        <!-- <div class="ui vertical stripe quote segment" style="padding:60px">
            <div class="ui equal width stackable internally celled grid">
              <div class="center aligned row">
                  <div class="column" >
                    <h2 style="padding-bottom:20px;text-decoration:underline">Member Application</h2>
                     <a href=""><i class="pdf file outline massive red icon"></i> </a>
                  </div>

              
              </div>
            </div>
         </div> -->
     
         
         <div class="ui centered header" style="padding-top:40px;padding-bottom:70px" >
             <h2>For questions regarding admissions, </h2>
             <h2>please contact one of the Membership executives.</h2>
             <div style="padding-bottom:30px"></div>
             <div class="ui center aligned equal width grid">
                 <div class="column">
                     <h2><u>Lexi Durbin</u></h2>
                     <p>Membership Executive<p> 
                     <p><a href="mailto:lexidurbin@gmail.com">email</a></p>
                 </div>
                 <div class="column">
                     <h2><u>Kaitlyn Hooks</u></h2>
                     <p>Membership Executive<p> 
                     <p><a href="mailto:sarahkhooks@gmail.com">email</a></p>
                 </div>
             </div>
         </div>

      
         
         
      </div>
      
      
    
     <% include ../partials/footer %>


     <script 
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
        <script type="text/javascript" src="https://www.w3schools.com/w3css/4/w3.css"></script> 
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/circletype@2.2.0/dist/circletype.min.js"></script> 
        <script type="text/javascript" src="/javascripts/apply.js"></script>   

    </body>  
<!--=================================================================================================== -->           
</html>