<html>

<head>


  <title>SLIDE | Committees</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/committees.css">

  <% include ../partials/menu %>


  <!--=================================================================================================== -->

  <div id="mygrid" class="ui center aligned doubling stackable grid">

    <div class="row">
      <div class="ui centered huge header" style="font-size:60px">Our Committees</div>
    </div>

    <div class="ui container row" style="padding-bottom: 60px;">
      <div class="three wide column">
        <img class=" ui centered image" src="https://i.ibb.co/WPtXS6q/SAAMteal.png">
      </div>
      <div class="three wide column">
        <img class=" ui centered image" src="https://i.ibb.co/1dRqvsG/devopurple.png">
      </div>
      <div class="three wide column">
        <img class=" ui centered image" src="https://i.ibb.co/Kxvx5CS/RAMHgreen-1.png">
      </div>

      <div class="three wide column">
        <img class=" ui centered image" src="https://i.ibb.co/7Jnbg71/shipred.png">
      </div>
    </div>


    <div class="row" style="padding:50px 0 50px 0; background: black;>
      <div class=" column">

      <div id="pic-container" class="ui container ">

        <img id="picture" class="ui centered massive circular image" src="https://i.ibb.co/QmpMPty/Image-1-24.jpg">
        <h1 class="title" style="border-color: #008080">SAAM</h1>
        <a href="/committees/SAAM"><button id="mybutton" class="ui teal massive button">Learn More</button></a>
        <a href="/committees/SAAM"><button id="mybutton2" class="tiny ui teal button">Learn More</button></a>
      </div>

    </div>



    <div class="row" " style=" padding: 50px 0 50px 0">



      <div class="column">



        <div id="pic-container" class="ui container ">

          <img id="picture" class="ui centered massive circular image" src="https://i.ibb.co/XLsBNCR/Image-1-25.jpg">
          <h1 class="title" style="border-color: white">DEVO</h1>
          <a href="/committees/DEVO"><button id="mybutton" class="ui purple massive button">Learn More</button></a>
          <a href="/committees/DEVO"><button id="mybutton2" class="ui purple tiny button">Learn More</button></a>
        </div>
      </div>

    </div>




    <div class="row" style="padding: 50px 0 50px 0;background: black">

      <div class="column">

        <div id="pic-container" class="ui container ">

          <img id="picture" class="ui centered massive circular image" src="  https://i.ibb.co/CHvMVfb/Image-1-27.jpg">
          <h1 class="title" style="border-color: white">RAMH</h1>
          <a href="/committees/RAMH"><button id="mybutton" class="ui green massive button">Learn More</button></a>
          <a href="/committees/RAMH"><button id="mybutton2" class="ui green tiny button">Learn More</button></a>
        </div>
      </div>
    </div>




    <div class="row" style="padding: 50px 0 0px 0">

      <div class="column">

        <div id="pic-container" class="ui container ">

          <img id="picture" class="ui centered massive circular image" src="https://i.ibb.co/9bdn015/Image-1-26.jpg">
          <h1 class="title" style="border-color: #B03060;">SHIP</h1>
          <a href="/committees/SHIP"><button id="mybutton" class="ui red massive button">Learn More</button></a>
          <a href="/committees/SHIP"><button id="mybutton2" class="ui red tiny button">Learn More</button></a>
        </div>

      </div>


    </div>

  </div>



  <!--=================================================================================================== -->


  <% include ../partials/footer %>

  <script type="text/javascript" src="/javascripts/committees.js"></script>

  </body>
  <!--=================================================================================================== -->

</html>