<html>
    <head>
        <title>SLIDE | DEVO</title>
        <link  rel="stylesheet" type="text/css" href="/stylesheets/DEVO.css">  
    
        <% include ../partials/menu %>
        
      <div class = "ui doubling stackable centered grid" id="mygrid" >
            <div class="row">
                <div class="four wide column">
              <img class=" ui centered medium image" style="margin: -80px 0 -40px 0;" src="https://i.ibb.co/1dRqvsG/devopurple.png" >
            </div>
          </div>
            <div class="row">
                <div class="ui text container  header" style="color: rgb(51, 0, 102);font-size:48px">DEVELOPMENT</div>
            </div>
            <div class="row">
                <div class="ui text container medium grey header" style="font-size:23px">DEVO is SLIDE's development committee. We are responsible for all
                fundraising, service, and apparel for the organization. We work with all of the other
                committees to aid them with various tasks as well as complete organization wide duties.</div>
            </div>
            <!-- <div class="row">
                
                 <div class="slideshow-container">
                   <div class="mySlides1">
                        <img src="https://i.ibb.co/VgctTD3/Image-1-31.jpg" style="width:100%;height:100%">
                      </div>
                     <h1 class="ui right aligned header" id="myheader" style="background: rgb(51, 0, 102)" >DEVO STAFF 2019-2020</h1>

                 </div>
                 
                 
            </div> -->
        

    
          <div class="row" style="padding: 50px 0 0px 0 ">
           <div class=" ui container center aligned column ">
                    <div class="" style="position: relative;top: 50%;transform: translateY(-50%);">
                      <h4 class="ui purple header"style="color:#c9c9c9;letter-spacing: 0.17em; padding: 0 0 30px 0">HOWDY FROM THE DEVO EXECUTIVE</h4> 
                      <img class="ui medium centered circular image" src="https://i.ibb.co/5nVnhLd/8-C5-B3039-3067-4-CAF-AD20-86-AAD95869-FD.jpg">
                      <h2 class="ui header">
                         Christine Tahan
                        <div class="sub header" style="font-style: oblique;">DEVO Executive, SLIDE 2019-2020</div>
                      </h2>
                      
                    </div>
                  </div>
           </div>

           <div class="row" style="padding-top: 70px">
             <div class="ui container divider "></div>
           </div>
          

</div>
         <div class="ui middle aligned stackable grid container">
                <div class="row" style="padding: 40 0 35px 0 ">
                <div class="eight wide column">
                    <h1 class="ui huge  purple header" style="font-size:3em">SUBCO MEETINGS</h1>
                <p style="font-size:25px;font-family: 'Roboto Condensed', sans-serif;line-height: 1.6;">DEVO meets every Sunday at 8:30 PM. During our meetings, we plan our upcoming fundraising and service events. Additionally, we organize and brainstorm ideas for PR for the semester.</p>

                </div>
                <div class="eight wide column">
                    <div class="ui fluid bordered images">
                        <img class="" src="https://i.ibb.co/VpmBMY3/Image-1-32.jpg" alt="IMG_2041" border="0">
                    </div>
                  </div>
               </div>
              <div class="row" style="padding: 40 0 35px 0 ">
                <div class="eight wide column">
                    <h1 class="ui huge  purple header" style="font-size:3em">FUNDRAISING</h1>
                <p style="font-size:25px;font-family: 'Roboto Condensed', sans-serif;line-height: 1.6;">Each semester, our goal is to have one major fundraising opportunity. Last year for example, we hosted a FIFA tournament held at Rudder Tower which became a huge success. Along with these fundraising events, we will also be setting up profit shares at multiple locations throughout the year.</p>

                </div>
                <div class="eight wide column">
                    <div class="ui fluid bordered images">
                        <img class="slide" src="https://image.ibb.co/ecv6Oz/IMG_2041.jpg" alt="IMG_2041" border="0">
                        <img class="slide" src="https://image.ibb.co/fUQebK/Screen_Shot_2018_08_04_at_9_29_29_PM.png" alt="Screen_Shot_2018_08_04_at_9_29_29_PM" border="0" style="height: 70%">
                        <img class="slide" src="https://image.ibb.co/fUizbK/IMG_2046.jpg" alt="IMG_2046" border="0">
                        <img class="slide" src="https://image.ibb.co/ennEAe/Screen_Shot_2018_08_04_at_9_29_12_PM.png" alt="Screen_Shot_2018_08_04_at_9_29_12_PM" border="0" style="height: 70%">
                         <img class="slide" src="https://image.ibb.co/keo4Ae/IMG_2039.jpg" alt="IMG_2039" border="0">
                        <img class="slide" src="https://image.ibb.co/dK5CwK/Screen_Shot_2018_08_04_at_9_28_53_PM.png" alt="Screen_Shot_2018_08_04_at_9_28_53_PM" border="0" style="height: 70%">
                        <img class="slide" src="https://image.ibb.co/drJXwK/IMG_2050.jpg" alt="IMG_2050" border="0">
                        <img class="slide" src="https://image.ibb.co/hk6KbK/IMG_2048.jpg" alt="IMG_2048" border="0">
                        
                      
                       
                    
                    </div>
                  </div>
               </div>
               
              <div class="two column row" style="padding: 35px 0 35px 0 ">

                    <div class="eight wide column">
                      <h1 class="ui huge purple header" style="font-size:3em">SERVICE </h1>
                      <p style="font-size:25px;font-family: 'Roboto Condensed', sans-serif;line-height: 1.6;">Along with supporting the efforts and work of SAAM and RAMH, DEVO organizes service opportunities that both sophomores and SLIDE staff can go to. Previous service events that we have done include feeding the homeless, working the special olympics, helping those affected by hurricane Harvey with a canned food drive, and Big Event. </p>
                    </div>
                    <div class="eight wide column">
                      <div class="ui fluid bordered images">
                        <img class="slide2" src="https://i.ibb.co/ZL5KfTm/IMG-0242.jpg" alt="servic" border="0">
                        <img class="slide2" src="https://i.ibb.co/nwyzHFJ/IMG-0241.jpg" alt="Screen_Shot_2018_08_04_at_9_50_45_PM" border="0">
                     
                    </div>  
                 </div>
                
                
              </div>
              
                   <div class="row" style="padding: 35px 0 35px 0 ">
                <div class="eight wide column">
                    <h1 class="ui huge  purple header" style="font-size:3em">APPAREL</h1>
                <p style="font-size:25px;font-family: 'Roboto Condensed', sans-serif;line-height: 1.6;">Items such as shirts, stickers, caps, etc. will be designed by DEVO and be available for purchase to all the members of SLIDE. We work closely with CC Creations to make sure all of our apparel is top-notch! </p>

                </div>
                <div class="eight wide column">
                    
                      <div class="ui fluid bordered images">
                        <img class="slide4" src="https://i.ibb.co/7ptxg19/IMG-0246.jpg" alt="IMG_4244" border="0">
                        <img class="slide4" src="https://i.ibb.co/cTcwPpT/IMG-0245.jpg" alt="SLIDEtamu" border="0">
                        <img class="slide4" src="https://i.ibb.co/RgWqDDg/IMG-0247.jpg" alt="SLIDEhat" border="0">
                      
                    </div>  
                    
                  </div>
               </div>
              


               <div class="two column row" style="padding: 35px 0 0px 0 ">
                  <div class="eight wide column">
                    <h1 class="ui huge purple header" style="font-size:3em">DEVO ROADTRIP</h1>
                    <p style="font-size:25px;font-family: 'Roboto Condensed', sans-serif;line-height: 1.6;">Taking place primarily in the beginning of the spring semester, DEVO has a subcommittee road trip every year. Last year, DEVO went to a ranch house and created lasting memories. </p>
                  </div>
                    <div class="eight wide column">
                      <div class="ui fluid bordered images">
                        <img class="slide3" src="https://i.ibb.co/g4nLJpg/Image-1-34.jpg" alt="first" border="0">
                        <img class="slide3" src="https://i.ibb.co/7kY3dxK/IMG-0248.jpg" alt="IMG_2777" border="0">
                        <img class="slide3" src="https://i.ibb.co/5c3TZKX/Image-1-35.jpg" alt="IMG_2606" border="0">
                        
                    </div>  
                 </div>
                
              </div>
              
              
              <div class="ui container divider " ></div>
              
              
              <div class="ui text center aligned container" style="padding: 25px 0 60px 0">
                  <i class="ui purple massive question circle icon"></i>
                  <h1 class="ui  header" style="font-size:3.5em"> Need More Info?</h1>
                  <p class="ui  grey header" style="font-size:1.8em "> No worries. You can directly reach out to the DEVO executives or to the directors.</p>
                  <a href="/contact-us"><button class="ui centered purple basic huge  button" href="">Contact us!</button></a>
              </div>
                  
 </div>           
         
     
             
               
     


         <% include ../partials/footer %>

        <script type="text/javascript" src="/javascripts/DEVO.js"></script>   

    </body>  
<!--=================================================================================================== -->           
</html>