<html>

<head>
	<title>SLIDE | Events</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/events.css">

	<% include ../partials/menu %>

	<div class="ui container centered center aligned stackable grid" style="padding-bottom: 40px">
		<div class="row">
			<h1 id="title" style="font-size:60px;color:;font-family: 'Roboto Condensed', sans-serif;">2018-2019 EVENTS
			</h1>
		</div>
		<div class="row">
			<div class="ui text container medium grey header"
				style="font-size:23px;font-weight:bold;font-style:italic;line-height:1.6" ;>All of our current and
				future events will posted here as the school year progresses. You will be able to know more about what
				we do and purchase tickets and things like that through this page.</div>

		</div>
	</div>

	<div class="ui container" style="padding: 130px 0 130px 0; ">
		<div id="loader">
			<div id="box"></div>
			<div id="hill"></div>
		</div>
	</div>

	<% include ../partials/footer %>

	<script type="text/javascript" src="/javascripts/events.js"></script>

	</body>
	<!--=================================================================================================== -->

</html>