<html>

<head>
  <title>SLIDE | Home</title>
  <meta name="description" content="Sophomore Leaders Impacting, Developing, and Educating (SLIDE) is a sophomore leadership
        organization that focuses on the honing of leadership qualities through experience." />

  <link rel="stylesheet" type="text/css" href="/stylesheets/home.css" media="all">

  <% include ../partials/menu %>

  <!--=================================================================================================== -->



  <div id="pic-container">

    <% for(var i = 1; i < 9 ; ++i){ %>
    <img class="slide" src="/pictures/slide/<%=i%>.jpg">
    <% } %>



    <img id="logo" src="https://image.ibb.co/dCUDNp/logo_transparent_border.png" border="0">

    <div class="ui text container" id="ontop">



      <h1 id="top2">SERVICE - AWARENESS - COMMUNITY OUTREACH</h1>

      <img id="logo2" src="https://image.ibb.co/n63B2e/slide.png" alt="slide" border="0">

      <h1 id="middle">SOPHOMORE LEADERS IMPACTING, DEVELOPING, AND EDUCATING</h1>





      <h1 id="bottom2">Texas A&M University Est. 2017</h1>


      <a href="/admissions"><button id="learn" class="ui red big  button">Apply</button></a>
      <a href="/admissions"><button id="learn2" class="ui red tiny  button">Apply</button></a>


    </div>

  </div>


  <div class="ui text container" style="padding-bottom:60px;padding-top:60px;margin:0">
    <h1 style="text-align:center; letter-spacing: 0.1em; font-size: 30px;"> WELCOME TO SLIDE</h1>

    <p class="myparagraph">Sophomore Leaders Impacting, Developing, and Educating (SLIDE) is a sophomore leadership
      organization that focuses on the enhancing of leadership qualities through experience. SLIDE is designed to
      tackle many of the issues on campus and in our community that often go unspoken. These issues include
      raising awareness against <a style="text-decoration:underline" href="/committees/SAAM">sexual assault</a> and <a
        href="/committees/RAMH" style="text-decoration:underline">mental health stigma.</a></p>
    <p class="myparagraph"> SLIDE is an opportunity to create a positive and tangible impact on our campus and in
      our community by developing and planning events with purpose while concurrently fostering and
      building relationships.</p>
  </div>


  <div id="specialGrid" class="ui center aligned equal width stackable grid">
    <div class="column" id="col1">

    </div>
    <div class="column" id="col3">

    </div>
  </div>


  <div class="ui container center aligned equal width stackable grid">
    <div class="row" style="padding-bottom:0px">
      <div class="ui container">
        <h1 class="ui centered header" style="letter-spacing: 0.17em;">MUCH MORE THAN JUST AN ORGANIZATION</h1>
        <h3 class="ui grey centered header" style="padding-bottom:60px">"BE A LIVING EXPRESSION OF YOUR VALUES. WEAR
          THEM, SPEAK THEM, MAKE DECISIONS ALIGNED WITH THEM" </h3>
      </div>
    </div>
  </div>

  <div class="ui container three column stackable center aligned grid" style="padding: 0 0 25px 0">

    <div class="row" style="padding-bottom: 40px">


      <div class="column">
        <img class="ui centered big image " src="https://i.ibb.co/pns9R7v/Image-1-2.jpg" alt="IMG_3486" border="0">

        <div class="ui huge header">SERVICE</div>
        <div class="description" style="font-size:17px;color:gray">
          <p>Instilling a desire within sophomores to give back through selfless service to the community.</p>
        </div>

      </div>


      <div class="column">
        <img class="ui centered big image " src="https://i.ibb.co/S7dYgbj/Image-1-3.jpg" border="0">

        <div class="ui huge header">AWARENESS</div>
        <div class="description" style="font-size:17px;color:gray">
          <p>Realizing, understanding, and taking action against unspoken issues to better the community and world.</p>
        </div>

      </div>

      <div class="column">
        <img class="ui centered big image " src="https://image.ibb.co/cpjtNp/community.png" border="0"
          style="height: 276px">
        <div class="ui huge header">COMMUNITY OUTREACH</div>
        <div class="description" style="font-size:17px;color:gray">
          <p>Establishing and being a community liaison for promoting change and overall betterment.</p>
        </div>
      </div>
    </div>
  </div>



  <div id="specialGrid" class="ui center aligned equal width stackable grid">
    <div class="ui center aligned left floated column ">
      <div class="" style="position: relative;top: 50%;transform: translateY(-50%);">
        <h1>RAISE AWARENESS AGAINST SEXUAL ASSAULT</h1>
        <h3 style="text-align:center">"We must send a message around the world that there is no disgrace in being a
          survivor of sexual violence -- that the shame is on the aggressor."</h1>
          <h4 style="font-style: oblique;">-Angelina Jolie</h4>
      </div>
    </div>

    <div class="column" id="col2" style="">

    </div>
  </div>


  <div class="ui text container divider"></div>


  <div class="ui centered huge header " style="padding:40px 0 40px 0;"> CHECK OUT OUR 2019/2020 RECRUITMENT VIDEO BELOW!
  </div>


  <div style="height:10% ; width: 80%" class="ui container embed" data-source="youtube" data-id="bDDcE5UUCg0"
    data-placeholder="https://image.ibb.co/iSv5Fz/dashed.png"></div>
  <iframe src="" frameborder="0"></iframe>
  <div style="height: 20px"></div>

  <div class="ui text container segment">
    <div class="ui text container">
      <h2 class="ui centered header"> Recruiting Schedule</h2>
      <img class="ui centered image" src="https://i.ibb.co/K9HNVCj/IMG-1324.jpg" alt="">
    </div>

  </div>

  <div class="ui center aligned grid" style="padding:50px; margin-bottom: -40px">

    <div class="ui centered header">
      <h1>Ready to join us and become a Slider?
        <span>
          <a href="/admissions">
            <button class="ui primary circular basic big button" style="margin-left:30px;padding:10px 30px 10px 30px">
              Apply
            </button>
          </a>
        </span>
      </h1>
    </div>
  </div>






  <% include ../partials/footer %>


  <script type="text/javascript" src="/javascripts/home.js"></script>
  </body>
  <!--=================================================================================================== -->

</html>