<html>

<head>

    <title>SLIDE | Pictures </title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/pictures.css">

    <% include ../partials/menu %>




    <!--=================================================================================================== -->

    <div class="ui centered stackable doubling grid" style="margin:0 ">
        <div class="row">
            <h1 id="title" style="font-size:60px;font-family: 'Roboto Condensed', sans-serif;">GALLERY</h1>
        </div>
        <div class="row">
            <div class="ui text container medium grey header"
                style="font-size:23px;font-weight:bold;font-style:italic;line-height:1.6">"The best thing about
                memories... is making them. So live for the moment you can't put into words."</div>
        </div>

        <div class="row" style="padding: 50px 0 30px 0;">
            <h3 class="ui container horizontal divider"
                style="font-size:40px;color:;padding-bottom:0px;font-family: 'Roboto Condensed', sans-serif;">2019-2020
            </h3>
        </div>

        <div class="three column row">

            <div class="column " style="padding:0;">

                <img class="ui fluid image" src="https://i.ibb.co/q5d6DS2/1.jpg">
                <img class="ui fluid image" src="https://i.ibb.co/30Nnvqj/2.jpg">
                <img class="ui fluid image" src="https://i.ibb.co/0BscDpz/3.jpg">
                <img class="ui fluid image" src="https://i.ibb.co/L6DYw7X/4.jpg">
                <img class="ui fluid image" src="https://i.ibb.co/b5QbqQ6/5.jpg">
                <img class="ui fluid image" src="https://i.ibb.co/q9Mzn9R/6.jpg">
                <img class="ui fluid image" src="https://i.ibb.co/0B23YYX/7.jpg">
                <img class="ui fluid image" src="https://i.ibb.co/NZstW91/8.jpg">
                <img class="ui fluid image" src="https://i.ibb.co/0tdMf07/9.jpg">
            </div>
            <div class="column" style="padding:0;">
                <img class="ui fluid image" src="https://i.ibb.co/GxF9NDr/10.jpg">
                <img class="ui fluid image" src="https://i.ibb.co/wYWrsMC/11.jpg">
                <img class="ui fluid image" src="https://i.ibb.co/3W1q6sk/12.jpg">
                <img class="ui fluid image" src="https://i.ibb.co/7vWQpd0/13.jpg">
                <img class="ui fluid image" src="https://i.ibb.co/rxRg2KT/14.jpg">
                <img class="ui fluid image" src="https://i.ibb.co/GPd80qB/15.jpg">
                <img class="ui fluid image" src="https://i.ibb.co/NVCZzWQ/16.jpg">
                <img class="ui fluid image" src="https://i.ibb.co/D51f1dv/17.jpg">
                <img class="ui fluid image" src="https://i.ibb.co/2N7z7WC/18.jpg">
            </div>
            <div class="column" style="padding:0;">
                <img class="ui fluid image" src="https://i.ibb.co/fQQnwD3/19.jpg">
                <img class="ui fluid image" src="https://i.ibb.co/BBgJbpr/20.jpg">
                <img class="ui fluid image" src="https://i.ibb.co/Jvpwsr7/21.jpg">
                <img class="ui fluid image" src="https://i.ibb.co/vPgqDsG/22.jpg">
                <img class="ui fluid image" src="https://i.ibb.co/LdSKrgw/23.jpg">
                <img class="ui fluid image" src="https://i.ibb.co/K6MZZ61/24.jpg">
                <img class="ui fluid image" src="https://i.ibb.co/rphDzqP/25.jpg">
                <img class="ui fluid image" src="https://i.ibb.co/vzWCK9p/26.jpg">
                <img class="ui fluid image" src="https://i.ibb.co/QQ8ysrk/27.jpg">


            </div>



        </div>
    </div>




    <script type="text/javascript" src="/javascripts/pictures.js"></script>

    <% include ../partials/footer %>



    </body>
    <!--=================================================================================================== -->

</html>