<html>

<head>
  <title>SLIDE | RAMH</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/RAMH.css">

  <% include ../partials/menu %>

  <div class="ui doubling stackable centered grid" id="mygrid">
    <div class="row">
      <div class="four wide column">
        <img class=" ui centered medium image" style="margin: -80px 0 -50px 0;"
          src="https://i.ibb.co/Kxvx5CS/RAMHgreen-1.png">
      </div>
    </div>
    <div class="row">
      <div class="ui text container medium green header" style="font-size:32px">RAISING AWARENESS FOR MENTAL HEALTH
      </div>
    </div>
    <div class="row">
      <div class="ui text container medium grey header" style="font-size:23px">The RAMH committee
        addresses a variety of issues regarding mental health within the Texas A&M student
        body. We work to end the stigma and raise awareness for mental health via programming and projects aimed to
        impact the
        local community.</div>
    </div>

    <div class="row" style="padding: 50px 0 0px 0 ">
      <div class=" ui container center aligned column ">
        <div class="" style="position: relative;top: 50%;transform: translateY(-50%);">
          <h4 class="ui green header" style="color:#c9c9c9;letter-spacing: 0.17em; padding: 0 0 30px 0">HOWDY FROM THE
            RAMH EXECUTIVE</h4>
          <img class="ui medium centered circular image" src="https://i.ibb.co/BqGFCmb/IMG-0243.jpg">
          <h2 class="ui header">
            Emily Garza
            <div class="sub header" style="font-style: oblique;">RAMH Executive, SLIDE 2019-2020</div>
          </h2>

        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 70px">
      <div class="ui container divider "></div>
    </div>


    <div class="row" style="padding:40px 0 0 0">
      <div class="ui container centered medium  header" style="font-size:43px">Standing Up Against Mental Health Stigma
      </div>
    </div>

    <div class="row" style="padding: 30px 0 50px 0">
      <div class="column">
        <div class="ui text container medium grey header" style="font-size:23px">As a subcommittee, our goal is to help
          bring an end to this issue through prevention programs that we put on throughout the year.</div>
      </div>
    </div>


    <div class="row" style="padding: 70px 0 70px 0;">
      <div class="ui centered medium header" style="font-size:50px;color:;padding-bottom:0px;">Mental Health: Statistics
      </div>
    </div>

    <div class="ui center aligned two column row">
      <div class="column">
        <img class="ui centered fluid image"
          src="https://www.communitycollegereview.com/images/Screen_Shot_2015-02-17_at_5_16_10_PM.png">
      </div>
      <div class="ui center aligned column">
        <div class="ui green huge statistic">
          <div class="value">
            25%
          </div>

        </div>

        <h2 class="ui center aligned container">
          young adults between the ages of 18 and 24 have a diagnosable mental illness.<sup><a>1</a></sup>
        </h2>
        <div class="ui green huge statistic">
          <div class="value">
            64%
          </div>

        </div>

        <h2 class="ui center aligned container">
          of young adults who are no longer in college are not attending college because of a mental health related
          reason<sup><a>1</a></sup>
        </h2>


        <div class="ui green huge statistic">
          <div class="value">
            73%
          </div>

        </div>

        <h2 class="ui center aligned container">
          of students living with a mental health condition experienced a mental health crisis on
          campus<sup><a>1</a></sup>
        </h2>

        <div class="ui green huge statistic">
          <div class="value">
            > 40%
          </div>

        </div>

        <h2 class="ui center aligned container">
          of college students have felt more than an average amount of stress within the past 12
          months.<sup><a>1</a></sup>
        </h2>
      </div>
    </div>





  </div>



  <div class="ui container divider " style="padding-top: 30px "></div>
  <div class="ui centered header" style="font-size:50px;color:;padding:5px 0 25px 0;">What We Do!</div>



  <div class="ui middle aligned stackable grid container">
    <div class="row" style="padding: 35px 0 35px 0 ">
      <div class="eight wide column">
        <h1 class="ui huge  green header" style="font-size:3em">SUBCO MEETINGS</h1>
        <p style="font-size:25px;font-family: 'Roboto Condensed', sans-serif;line-height: 1.6;">RAMH meets every
          Thursday at 8:30 PM. During our meetings, we focus on planning events and coordinating with other
          organizations/resources. Our goal is to make students aware of the resources they have and bring awareness to
          the importance of mental health.
        </p>

      </div>
      <div class="eight wide column">
        <div class="ui fluid bordered images">
          <img class="" src="https://i.ibb.co/txtxqFQ/Image-1-36.jpg" alt="IMG_2277" border="0">

        </div>
      </div>
    </div>
    <div class="row" style="padding: 35px 0 35px 0 ">
      <div class="eight wide column">
        <h1 class="ui huge  green header" style="font-size:3em">MENTAL HEALTH WEEK</h1>
        <p style="font-size:25px;font-family: 'Roboto Condensed', sans-serif;line-height: 1.6;">Starting in January,
          RAMH begins to prepare for Mental Health Week, which takes place in March. During this week, we organize an
          event for everyday of the week where we provide resources and get the conversation started about this
          important topic.
        </p>

      </div>
      <div class="eight wide column">
        <div class="ui fluid bordered images">
          <img class="slide" src="https://image.ibb.co/jpp2fe/IMG_2277.jpg" alt="IMG_2277" border="0">
          <img class="slide" src="https://image.ibb.co/e00KRK/IMG_2121.jpg" alt="IMG_2121" border="0">
          <img class="slide" src="https://image.ibb.co/bZsoLe/IMG_2108.jpg" alt="IMG_2108" border="0">
          <img class="slide" src="https://image.ibb.co/jVAVYz/IMG_2088_1.jpg" alt="IMG_2088_1" border="0">
          <img class="slide" src="https://image.ibb.co/fTzcfe/IMG_2049.jpg" alt="IMG_2049" border="0">
          <img class="slide" src="https://image.ibb.co/cRDZtz/mm.png" alt="mm" border="0" style="height:70%">
        </div>
      </div>
    </div>

    <div class="two column row" style="padding: 35px 0 35px 0 ">

      <div class="eight wide column">
        <h1 class="ui huge green header" style="font-size:3em">POETRY NIGHT </h1>
        <p style="font-size:25px;font-family: 'Roboto Condensed', sans-serif;line-height: 1.6;">Poetry night gives the
          Aggie community an opportunity to express themselves creatively through poetry and song.
        </p>
      </div>
      <div class="ui center aligned  eight wide column">
        <div class="ui fluid bordered images">
          <img class="slide1" src="https://image.ibb.co/nz0bXp/IMG_1305.jpg" alt="IMG_1305" border="0">
          <img class="slide1" src="https://image.ibb.co/cNJkQ9/IMG_1320.jpg" alt="IMG_1320" border="0">
          <img class="slide1" src="https://image.ibb.co/cjgF0e/5.png" border="0" style="height:70%">
          <img class="slide1" src="https://image.ibb.co/n0WFGK/Screen_Shot_2018_08_04_at_3_58_45_PM.png"
            alt="Screen_Shot_2018_08_04_at_3_58_45_PM" border="0">
        </div>
      </div>


    </div>

    <div class="two column row" style="padding: 35px 0 35px 0 ">

      <div class="eight wide column">
        <h1 class="ui huge green header" style="font-size:3em">MENTAL HEALTH PANEL </h1>
        <p style="font-size:25px;font-family: 'Roboto Condensed', sans-serif;line-height: 1.6;">This event is open to
          the community. We partnered with NAMI where we had special guests speak about their mental illness and give
          their testimony. The panel was followed by an open Q&A with an advocate.
        </p>
      </div>
      <div class="ui center aligned eight wide column">
        <div class="">
          <img src="https://image.ibb.co/cnQsfe/6.png" alt="6" border="0" style="height:70%">
        </div>
      </div>


    </div>

    <div class="row" style="padding: 35px 0 35px 0 ">
      <div class="eight wide column">
        <h1 class="ui huge  green header" style="font-size:3em">FREE HOT COCOA DAYS</h1>
        <p style="font-size:25px;font-family: 'Roboto Condensed', sans-serif;line-height: 1.6;">By giving away free hot
          cocoa, we open the doors to conversations about mental health and how much it affects not only college
          campuses but everyone. </p>

      </div>
      <div class="eight wide column">

        <div class="ui fluid bordered images">
          <img class="slide2" src="https://image.ibb.co/iO1f1K/IMG_1131.jpg" alt="IMG_1131" border="0">
          <img class="slide2" src="https://image.ibb.co/g7TW6K/1.png" alt="1" border="0">
          <img class="slide2" src="https://image.ibb.co/noWUtz/4.jpg" alt="4" border="0">
          <img class="slide2" src="https://image.ibb.co/nx1jRK/3.jpg" alt="3" border="0">
          <img class="slide2" src="https://image.ibb.co/cWeFYz/2.jpg" alt="2" border="0">


        </div>

      </div>
    </div>

    <div class="row" style="padding: 35px 0 35px 0 ">
      <div class="eight wide column">
        <h1 class="ui huge  green header" style="font-size:3em">"YOU MATTER TO ME" CAMPAIGN</h1>
        <p style="font-size:25px;font-family: 'Roboto Condensed', sans-serif;line-height: 1.6;">This campaign is special
          to us because it makes everyone aware of how important they are and how much they are valued. We designed
          shirts with resources on the back and the money we raised selling shirts was donated to NAMI. </p>

      </div>
      <div class="eight wide column">

        <div class="ui fluid bordered images">
          <img src="https://image.ibb.co/n320iz/cc76aeae408a4e3fa7fc251deaa854fa_1.png"
            alt="cc76aeae408a4e3fa7fc251deaa854fa_1" border="0">


        </div>

      </div>
    </div>


    <div class="two column row" style="padding: 35px 0 35px 0 ">

      <div class="eight wide column">
        <h1 class="ui huge green header" style="font-size:3em">RAMH ROADTRIP </h1>
        <p style="font-size:25px;font-family: 'Roboto Condensed', sans-serif;line-height: 1.6;">We used this road trip
          to bond with one another but also with everyone in our subcommittee. During the road trip we got to know each
          other on a deeper level and really became a RAMH-ily. </p>
      </div>
      <div class="eight wide column">
        <div class="ui fluid bordered images">
          <img class="slide3" src="https://i.ibb.co/wr23JRV/IMG-0253.jpg" alt="DSC06646" border="0">

        </div>
      </div>


    </div>
  </div>

  <div class="ui container divider " style="padding-top: 30px "></div>

  <div class="ui text center aligned container" style="padding: 25px 0 60px 0">

    <i class="ui  massive question circle icon" style="color:#46c500"></i>
    <h1 class="ui  header" style="font-size:3.5em"> Need More Info?</h1>
    <p class="ui  grey header" style="font-size:1.8em "> No worries. You can directly reach out to the RAMH executives
      or to the directors.</p>
    <a><button class="ui centered  basic huge green  button" href="/contact-us">Contact us!</button></a>
  </div>



  <% include ../partials/footer %>

  <script type="text/javascript" src="/javascripts/RAMH.js"></script>

  </body>
  <!--=================================================================================================== -->

</html>