<html>

<head>
  <title>SLIDE | SAAM</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/SAAM.css">

  <% include ../partials/menu %>


  <div class="ui doubling stackable centered grid" id="mygrid">
    <div class="row">
      <div class="four wide column">
        <img class=" ui centered medium image" style="margin: -30px 0 -80px 0;"
          src="https://i.ibb.co/WPtXS6q/SAAMteal.png">
      </div>
    </div>
    <div class="row">
      <div class="ui  text container  medium teal header" style="font-size:38px">SEXUAL ASSAULT AWARENESS MONTH</div>
    </div>
    <div class="row" style="padding-bottom: 50px">
      <div class="ui text container medium grey header" style="font-size:23px">SAAM is committed to putting on programs
        around campus to bring awareness to the unfortunate truths of sexual assault on college campuses. </div>
    </div>


    <div class="row" style="padding: 50px 0 0px 0 ">
      <div class=" ui container center aligned column ">
        <div class="" style="position: relative;top: 50%;transform: translateY(-50%);">
          <h4 class="ui teal header" style="color:#c9c9c9;letter-spacing: 0.17em; padding: 0 0 30px 0">HOWDY FROM THE
            SAAM EXECUTIVE</h4>
          <img class="ui medium centered circular image" src="https://i.ibb.co/x3kHJps/IMG-8536.jpg">
          <h2 class="ui header">
            Eric Muñoz
            <div class="sub header" style="font-style: oblique;">SAAM Executive, SLIDE 2019-2020</div>
          </h2>

        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 70px">
      <div class="ui container divider "></div>
    </div>



    <div class="row" style="padding:40px 0 0 0">
      <div class="ui centered medium  header" style="font-size:43px">Standing Up Against Sexual Assault</div>
    </div>

    <div class="row" style="padding: 30px 0 50px 0">
      <div class="column">
        <div class="ui text container medium grey header" style="font-size:23px">As a subcommittee, our goal is to help
          bring an end to this issue through prevention programs they will put on throughout the year.</div>
        <img class=" small ui centered image" style="padding: 40px 0 0 0"
          src="https://www.wccky.org/wp-content/uploads/2017/03/Teal-Ribbon.png">
      </div>
    </div>

    <div class="row" style="padding: 70px 0 70px 0;">
      <div class="ui centered medium header" style="font-size:50px;color:;padding-bottom:0px;">Sexual Violence:
        Statistics</div>
    </div>




    <div class="ui center aligned two column row">

      <div class="ui center aligned  column">
        <div class="ui teal huge statistic">
          <div class="value">
            90%
          </div>

        </div>

        <h2 class="ui center aligned container">
          of sexual assault victims on college campuses do not report the assault.<sup><a>1</a></sup>
        </h2>
        <div class="ui teal huge statistic">
          <div class="value">
            20%
          </div>

        </div>

        <h2 class="ui center aligned container">
          of women will be raped at some point in their lives.<sup><a>1</a></sup>
        </h2>


        <div class="ui teal huge statistic">
          <div class="value">
            70%
          </div>

        </div>

        <h2 class="ui center aligned container">
          of rape or sexual assault victims experience moderate to severe distress.<sup><a>2</a></sup>
        </h2>

        <div class="ui center aligned teal huge statistic">
          <div class="value">
            11.2%
          </div>

        </div>

        <h2 class="ui center aligned container">
          of all students experience rape or sexual assault through physical force, violence, or
          incapacitation.<sup><a>1</a></sup>
        </h2>




        <div class="ui center aligned teal huge statistic">
          <div class="value">
            20%-25%
          </div>

        </div>

        <h2 class="ui center aligned container">
          college women are victims of forced sex during their time in college.<sup><a>2</a></sup>
        </h2>
        <div class="ui teal huge statistic">
          <div class="value">
            10%
          </div>

        </div>

        <h2 class="ui center aligned container">
          of rape victims are male victims.<sup><a>2</a></sup>
        </h2>

        <div class="ui teal huge statistic">
          <div class="value">
            20%
          </div>

        </div>

        <h2 class="ui center aligned container">
          of female student victims report to law enforcement.<sup><a>2</a></sup>
        </h2>


      </div>

      <div class="ui center aligned column">
        <div class="ui centered fluid images" style="position: relative;top: 50%;transform: translateY(-50%);">
          <img src="https://www.rainn.org/sites/default/files/Reasons_Victims_Cited_for_Not_Reporting%20122016.png">
          <img
            src="http://foremoststrategy.com/foremost/wp-content/uploads/2016/12/Male_College_Students_At_Risk-122016.png">
        </div>
      </div>
    </div>


  </div>

  <div class="ui container divider " style="padding-top: 30px "></div>
  <div class="ui centered header" style="font-size:50px;color:;padding:5px 0 25px 0;">What We Do!</div>



  <div class="ui middle aligned stackable grid container">
    <div class="row" style="padding: 35px 0 35px 0 ">
      <div class="eight wide column">
        <h1 class="ui huge  teal header" style="font-size:3em">SUBCO MEETINGS</h1>
        <p style="font-size:25px;font-family: 'Roboto Condensed', sans-serif;line-height: 1.6;">SAAM meets once a week
          on Mondays at 8:00pm to organize and discuss future events/ideas while developing and growing as a cohesive
          subcommittee.</p>

      </div>
      <div class="eight wide column">
        <div class="ui fluid bordered images">
          <img src="https://i.ibb.co/pKZmGjL/Image-1-28.jpg" alt="IMG_2788" border="0">
        </div>
      </div>
    </div>
    <div class="row" style="padding: 35px 0 35px 0 ">
      <div class="eight wide column">
        <h1 class="ui huge  teal header" style="font-size:3em">S.A.A.W WEEK</h1>
        <p style="font-size:25px;font-family: 'Roboto Condensed', sans-serif;line-height: 1.6;">Sexual Assault Awareness
          month occurs the first week of April. Everyday in Academic or Rudder Plaza look for the large-teal “SAAW”
          letters. Stop by for the daily event, get active in raising awareness for sexual assault, and pick-up S.A.A.W
          memorabilia.</p>

      </div>
      <div class="eight wide column">
        <div class="ui fluid bordered images">
          <img class="slide" src="https://i.ibb.co/X8PJL5r/IMG-0210.jpg" alt="IMG_2788" border="0">
          <img class="slide" src="https://i.ibb.co/jkZygJv/IMG-0211.jpg" alt="IMG_2790" border="0">
          <img class="slide" src="https://i.ibb.co/N6CQmDS/IMG-0212.jpg" alt="IMG_2795_1" border="0">
        </div>
      </div>
    </div>

    <div class="two column row" style="padding: 35px 0 35px 0 ">

      <div class="eight wide column">
        <h1 class="ui huge teal header" style="font-size:3em">SAAW OFF SEXUAL ASSAULT </h1>
        <p style="font-size:25px;font-family: 'Roboto Condensed', sans-serif;line-height: 1.6;">To close S.A.A.W week,
          SAAM organizes a festival style BBQ to raise funds for SARC and CLEAR offices with Texas A&M University. A
          ticket gets you food, a shirt, and access to all the festival games. As a member of SAAM, you will have a
          voice in planning and executing this annual event.</p>
      </div>
      <div class="eight wide column">
        <div class="ui fluid bordered images">

          <img class="slide1" src="https://i.ibb.co/0Y5YLm8/IMG-0221.jpg" alt="IMG_3261" border="0">
          <img class="slide1" src="https://i.ibb.co/X39RFrY/IMG-0218.jpg" alt="IMG_2816" border="0">
          <img class="slide1" src="https://i.ibb.co/s9kgsdC/Image-1-29.jpg" alt="IMG_2826" border="0">
          <img class="slide1" src="https://i.ibb.co/cwYcWfp/IMG-0229.jpg" alt="IMG_2832" border="0">
        </div>
      </div>


    </div>

    <div class="row" style="padding: 35px 0 35px 0 ">
      <div class="eight wide column">
        <h1 class="ui huge  teal header" style="font-size:3em">TRUE LIFE</h1>
        <p style="font-size:25px;font-family: 'Roboto Condensed', sans-serif;line-height: 1.6;">True Life takes place
          during the Fall semester and segues into the upcoming SAAM events for the Spring semester. SAAM organizes a
          panel of sexual assault survivors to share their experiences in a safe atmosphere in order to raise awareness
          of the severity of sexual assault on college campuses.</p>

      </div>
      <div class="eight wide column">

        <div class="ui fluid bordered images">
          <img src="https://i.ibb.co/crz7ngH/IMG-0240.jpg" alt="true_life" border="0">

        </div>

      </div>
    </div>


    <div class="two column row" style="padding: 35px 0 35px 0 ">
      <div class="eight wide column">
        <h1 class="ui huge teal header" style="font-size:3em">SAAM ROADTRIP </h1>
        <p style="font-size:25px;font-family: 'Roboto Condensed', sans-serif;line-height: 1.6;">
          SAAM Roadtrip offers the opportunity for sophomores and staff to bond as a SAAMily over the course of a
          weekend. Last year SAAM went to Lexi's lakehouse in Canyon Lake. During the weekend, SAAM explored Gruene Hall
          which is the oldest dance hall in Texas.
        </p>
      </div>
      <div class="eight wide column">
        <div class="ui fluid bordered images">
          <img src="https://i.ibb.co/qJtKmvb/Image-1-30.jpg alt=" IMG_2852" border="0">
        </div>
      </div>

    </div>


    <div class="ui container divider " style="padding-top: 30px "></div>


    <div class="ui text center aligned container" style="padding: 25px 0 60px 0">
      <i class="ui teal massive question circle icon"></i>
      <h1 class="ui  header" style="font-size:3.5em"> Need More Info?</h1>
      <p class="ui  grey header" style="font-size:1.8em "> No worries. You can directly reach out to the SAAM executives
        or to the directors.</p>
      <a href="/contact-us"><button class="ui centered teal basic huge  button">Contact us!</button></a>
    </div>
  </div>










  <% include ../partials/footer %>

  <script type="text/javascript" src="/javascripts/SAAM.js"></script>

  </body>
  <!--=================================================================================================== -->

</html>