<html>

<head>
  <title>SLIDE | SHIP</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/SHIP.css">

  <% include ../partials/menu %>

  <div class="ui doubling stackable centered grid" id="mygrid">
    <div class="row">
      <div class="four wide column">
        <img class=" ui centered medium image" style="margin: -80px 0 -40px 0;"
          src="https://i.ibb.co/7Jnbg71/shipred.png">
      </div>
    </div>
    <div class="row">
      <div class="ui text container  medium red header" style="font-size:48px">LEADERSHIP</div>
    </div>
    <div class="row">
      <div class="ui text container medium grey header" style="font-size:23px">The Leadership committee organizes and
        facilitates the Development Meetings, other
        Development opportunities, and socials within SLIDE to unite the organization. We aim to exhibit the
        values of development in leadership, various career goals, and outreach awareness.</div>
    </div>


    <% if(executive != null){%>
    <div class="row" style="padding: 50px 0 0px 0 ">
      <div class=" ui container center aligned column ">
        <div class="" style="position: relative;top: 50%;transform: translateY(-50%);">
          <h4 class="ui red header" style="color:#c9c9c9;letter-spacing: 0.17em; padding: 0 0 30px 0">HOWDY FROM THE
            SHIP EXECUTIVE</h4>
          <img class="ui medium centered circular image" src="https://i.ibb.co/QQ9X7ph/IMG-0255.jpg">
          <h2 class="ui header">
            Sarra Regimand
            <div class="sub header" style="font-style: oblique;">SHIP Executive, SLIDE 2019-2020</div>
          </h2>

        </div>
      </div>
    </div>
    <%}%>

           <div class="row" style="padding-top: 70px">
             <div class="ui container divider "></div>
           </div>
        </div>


                 <div class="ui middle aligned stackable grid container">
                <div class="row" style="padding: 40 0 35px 0 ">
                <div class="eight wide column">
                    <h1 class="ui huge  red header" style="font-size:3em">SUBCO MEETINGS</h1>
                <p style="font-size:25px;font-family: 'Roboto Condensed', sans-serif;line-height: 1.6;">SHIP meets every Tuesday at 8:30 PM. During SHIP committee meetings, members will discuss ideas and plans for Developmental Meetings and socials.  These will be the "behind the scenes" meetings for many of the events put on by SLIDE.</p>

                </div>
                <div class="eight wide column">
                    <div class="ui fluid bordered images">
                        

                        <img class="slide3" src="https://i.ibb.co/WcBRhSP/Image-1-39.jpg" alt="IMG_2424" border="0">
                      

                    </div>
                  </div>
               </div>
              <div class="row" style="padding: 40 0 35px 0 ">
                <div class="eight wide column">
                    <h1 class="ui huge  red header" style="font-size:3em">DEVELOPMENTAL MEETINGS</h1>
                <p style="font-size:25px;font-family: 'Roboto Condensed', sans-serif;line-height: 1.6;">Developmental Meetings will encompass a variety of topics, ranging from introductions to our Awareness Committees, lessons about professional skills, promotion of positive thinking, utilization of academic tools, outside speakers, and fun meetings to help relax and de-stress the sophomores.</p>

                </div>
                <div class="eight wide column">
                    <div class="ui fluid bordered images">
                        <img class="slide"  src="https://i.ibb.co/1MfV6RK/IMG-0257.jpg" alt="IMG_0690" border="0">
                        <img class="slide" src="https://image.ibb.co/k7tcgK/IMG_0684.jpg" alt="IMG_0684" border="0">
                        <img class="slide" src="https://i.ibb.co/Prz5Q78/IMG-0256.jpg" alt="IMG_0687" border="0">
                        <img class="slide" src="https://image.ibb.co/mx6V1K/IMG_0689.jpg" alt="IMG_0689" border="0">
                    
                    </div>
                  </div>
               </div>
               
              <div class="two column row" style="padding: 35px 0 35px 0 ">

                    <div class="eight wide column">
                      <h1 class="ui huge red header" style="font-size:3em">LEADERSHIP OPPORTUNITIES </h1>
                      <p style="font-size:25px;font-family: 'Roboto Condensed', sans-serif;line-height: 1.6;">Initially, staff members will set up and run the events put on by SHIP. As the first semester progresses, the sophomores will be transitioned into taking charge of both Developmental Meetings and socials. These opportunities will give them experience coordinating large events, help sharpen their time management skills, improve their public speaking, and ultimately build their confidence as leaders.</p>
                    </div>
                    <div class="eight wide column">
                      <div class="ui fluid bordered images">
                        
                        <img class="" src="https://image.ibb.co/eNKSXp/leadership.png" alt="leadership" border="0">
                    </div>  
                 </div>
                
                
              </div>
              
                   <div class="row" style="padding: 35px 0 35px 0 ">
                <div class="eight wide column">
                    <h1 class="ui huge  red header" style="font-size:3em">SOCIAL EVENTS</h1>
                <p style="font-size:25px;font-family: 'Roboto Condensed', sans-serif;line-height: 1.6;">The SHIP committee is in charge of organizing social events for SLIDE. The goal of these is to foster camaraderie and rapport between all members of the organization, sophomores and staff alike. Socials may include events such as Broomball, bowling, hangouts at Lake Bryan, casual games of frisbee at Gabbard Park, and especially our end of semester socials, which include the Christmas party and end of year social. </p>

                </div>
                <div class="eight wide column">
                    
                      <div class="ui fluid bordered images">
                          <img class="slide2" src="https://i.ibb.co/df1KS6N/Image-1-41.jpg" alt="24296536_508801282827519_8369385235404260890_n" border="0">

                        <img class="slide2" src="https://i.ibb.co/h20JnLZ/IMG-0258.jpg" alt="25353782_1631265226940720_8759491650562355105_n" border="0">
                        <img class="slide2" src="https://i.ibb.co/2sDzTdK/Image-1-40.jpg" alt="25353859_1631258753608034_6933223265808927728_n" border="0">
                        <img class="slide2" src="https://image.ibb.co/b0Ea1K/24301023_10203687226698768_3367455593261835392_n.jpg" alt="24301023_10203687226698768_3367455593261835392_n" border="0">
                        <img class="slide2" src="https://image.ibb.co/eb5R8z/26992692_1727800077277572_7959879808169650808_n.jpg" alt="26992692_1727800077277572_7959879808169650808_n" border="0">
                        <img class="slide2" src="https://image.ibb.co/mv82gK/26991636_1795167020515242_8504686337357306145_n.jpg" alt="26991636_1795167020515242_8504686337357306145_n" border="0">
                        <img class="slide2" src="https://image.ibb.co/cg7HFe/25398892_1631275146939728_4602926507900570475_n.jpg" alt="25398892_1631275146939728_4602926507900570475_n" border="0">
                      
                    </div>  
                    
                  </div>
               </div>
               


               <div class="two column row" style="padding: 35px 0 0px 0 ">
                  <div class="eight wide column">
                    <h1 class="ui red red header" style="font-size:3em">SHIP ROADTRIP</h1>
                    <p style="font-size:25px;font-family: 'Roboto Condensed', sans-serif;line-height: 1.6;">The Roadtrip will be where the committee bonds closely and gets to know each other on a deeper level. It will consist of team building activities, spending an extended amount of time with each other, and interview-style discussions where members can be as vulnerable and open with the rest of the committee as they are comfortable being. This event is very special because the friendships between all the members of SHIP are strengthened and cemented here.</p>
                  </div>
                    <div class="eight wide column">
                      <div class="ui fluid bordered images">
                        <img  src="https://i.ibb.co/w7qD2NN/Image-1-43.jpg" alt="IMG_2852" border="0">
                        
                    </div>  
                 </div>
                
              </div>
              
              
              <div class="ui container divider " style="padding-top: 30px "></div>
              
              
              <div class="ui text center aligned container" style="padding: 25px 0 60px 0">
                  <i class="ui red massive question circle icon"></i>
                  <h1 class="ui  header" style="font-size:3.5em"> Need More Info?</h1>
                  <p class="ui  grey header" style="font-size:1.8em "> No worries. You can directly reach out to the SHIP executives or to the directors.</p>
                  <a href="/contact-us"><button class="ui centered red basic huge  button">Contact us!</button></a>
              </div>
                  
 </div>           
         


         <% include ../partials/footer %>

    <script type="text/javascript" src="/javascripts/SHIP.js"></script>

    </body>
    <!--=================================================================================================== -->

</html>