<html>

<head>
  <title>SLIDE | Meet SLIDERS</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/sliders.css">


  <% include ../partials/menu %>


  <!-- ------------------------------------------------------------------------------------------------------ -->


  <div id="bigpic">
    <img src="https://image.ibb.co/daOU17/IMG_2044.jpg" alt="IMG_2044" border="0" id="pic">
    <div class="middle" id="meet">
      <p id="p"></p>
    </div>
  </div>



  <!-- ------------------------------------------------------------------------------------------- -->
  <div class="ui container">
    <div class="ui center aligned header" style="padding-top:60px; font-size:40px;"> How do they feel about SLIDE?</div>

    <!-- ------------------------------------------------------------------------------------------- -->

    <div class="ui  container" style="padding-bottom: 100px">
      <div class="ui three column stackable grid" style="padding-top:20px;">
        <div class="column">

          <p><i class="large quote left icon"></i>I’ll keep it short and sweet because I feel like it will be just that
            more meaningful. SLIDE is the first organization that I have ever been involved in that I can say without a
            doubt is more than just an organization, it’s my family away from family. All the bonds and friendships I
            have forged in SLIDE will follow me all through life, and transcend beyond my time. The friends I have made
            in SLIDE will be there one day to celebrate me getting married, and also to celebrate my death. So keep
            striding forward SLIDE because we’re going to continue to do great things in the world; one stride at a
            time.<i class="large quote right icon"></i></p>
          <p style="text-align:right;">Baldwin Bakkal, 17-18'</p>
          <div class="ui divider"></div>
          <p><i class="large quote left icon"></i>The True Life Panel impacted me in such a powerful way. I laugh every
            time I think about this, because I am the one in the organization. We do this to help other people, that is
            our goal. I never imagined that I would personally be helped by the events that we organize and put on. The
            panel drove me to a realization that has taken years for me to come to, maybe because I was afraid or upset
            with myself. I am not quite sure, but I do know that if it weren't for that panel, I would still be the same
            person that harbored a lot of self-hate and insecurity. The panel inspired a change I didn't even know I had
            to make, so thank you. There is so much behind harassment that society normalizes today. Even though SAAM is
            not my subcommittee, one of my future goals is to help redefine what society views as sexual assault and
            harassment, and to help other individuals realize that, just because certain actions are committed by
            everyone all the time, that does not make them okay, especially if you are unwilling.<i
              class="large quote right icon"></i> </p>
          <p style="text-align:right;">Maddie Garza, 17-18'</p>
        </div>



        <div class="column">
          <p><i class="large quote left icon"></i>I really do appreciate everything the members on staff have done to
            make these last two semesters so enjoyable. Without you guys there would be no SLIDE, no mental health week,
            no SAAW, and other events we put on to help better the campus. Through SLIDE I have meet so many wonderful
            people that I am grateful to have in my life. Thank you guys for giving all of us this opportunity to be
            apart of something greater than ourselves. <i class="large quote right icon"></i></p>
          <p style="text-align:right;">Bryce Mckinnon, 17-18'</p>
          <div class="ui divider"></div>
          <p><i class="large quote left icon"></i>Slide has made a huge impact on me. I came into Slide not knowing a
            single person. I didn't know any counselors or any sophomores and it felt awkward at first. Slide taught me
            to open up more and accept people for who they are because everyone is different in Slide. I have found
            family in Slide and they have made me feel more comfortable about myself. I get really bad stage fright when
            I sing and Slide made me comfortable enough to perform in from of them. I absolutely love Slide.<i
              class="large quote right icon"></i></p>
          <p style="text-align:right;">Luke Dorman, 17-18'</p>
        </div>


        <div class="column">
          <p> <i class="large quote left icon"></i>SLIDE has given me so many great friendships that I know will last me
            a lifetime and I’m forever grateful that I got to be a part of such an amazing organization. We have already
            made such an impact on people and I can’t wait to see the coming years of what SLIDE will do on A&M’s
            campus.<i class="large quote right icon"></i> </p>
          <p style="text-align:right;">Kelsey Bier, 17-18'</p>
          <div class="ui divider"></div>
          <p><i class="large quote left icon"></i>Going into my sophomore year, I had a lot of doubts about myself and a
            lot of insecurities about my own mental health. When I heard about slide, I just figured it would give me a
            group of people I could sit with in the msc to not look pathetic, but it ended up giving me a family. I
            remember subco rev night, and how I could tell that this unique group of people were going to be important
            to me. As this year has gone on, each and every person and staff have given me more self confidence, more
            love, more leadership qualities and more great memories than I thought I would ever have or even deserve.
            Although I still have plenty of my own demons to fight (on top of school crushing me), it's a lot easier to
            do so with this incredible support system I've found within slide. There's no way I can thank everyone in
            ramh for all they've done and continue to do.<i class="large quote right icon"></i></p>
          <p style="text-align:right;">Erica Petersen, 17-18'</p>
        </div>
      </div>
    </div>


    <!-- ------------------------------------------------------------------------------------------- -->




    <!-- ------------------------------------------------------------------------------------------- -->

    <h4 class="ui horizontal header divider">
      <a href="#" style="color:black; font-size: 25px; padding:50px"> CLASS I: 2017-2018</a>
    </h4>


    <div class="ui center aligned grid" style="padding: 25px;">
      <div class="three column row">
        <div class="column">
          <div class="ui yellow huge statistic">
            <div class="value">
              3
            </div>
            <div class="label">
              Programs to combat sexual assault
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui yellow huge statistic">
            <div class="value">
              2
            </div>
            <div class="label">
              Huge Fundraisers
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui yellow huge statistic">
            <div class="value">
              4
            </div>
            <div class="label">
              Programs raising awareness for mental health
            </div>
          </div>
        </div>
      </div>
      <div class="three column row">
        <div class="column">
          <div class="ui olive huge statistic">
            <div class="value">
              4
            </div>
            <div class="label">
              Profit Shares
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui olive huge statistic">
            <div class="value">
              4
            </div>
            <div class="label">
              Staycations
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui olive huge statistic">
            <div class="value">
              4
            </div>
            <div class="label">
              Roadtrips
            </div>
          </div>
        </div>

      </div>
      <div class="three column row">
        <div class="column">
          <div class="ui brown huge statistic">
            <div class="value">
              11
            </div>
            <div class="label">
              Slide Socials
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui brown huge statistic">
            <div class="value">
              1234...
            </div>
            <div class="label">
              Food Runs
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui brown huge statistic">
            <div class="value">
              1234...
            </div>
            <div class="label">
              Family Dinners
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- ------------------------------------------------------------------------------------------- -->
    <div class="ui grid stackable container" style="padding: 50px;">
      <div class="sixteen wide column">
        <div class="ui link four doubling cards">

          <a class="ui card" href="#">
            <div class="image">
              <img src="https://image.ibb.co/maKYdn/Screen_Shot_2018_05_08_at_7_49_50_PM.png"
                alt="Screen_Shot_2018_05_08_at_7_49_50_PM" border="0">
            </div>

            <div class="content">
              <div class="header">Kelsey Bier</div>
              <div class="meta">SAAM</div>

            </div>
          </a>
          <a class="ui card" href="#">
            <div class="image">
              <img src="https://image.ibb.co/eN2YB7/Screen_Shot_2018_05_08_at_9_52_17_PM_209x245.png"
                alt="Screen_Shot_2018_05_08_at_9_52_17_PM_209x245" border="0">
            </div>

            <div class="content">
              <div class="header">Kevin Pham</div>
              <div class="meta">SAAM</div>

            </div>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/bV7rW7/new.png" alt="new" border="0">

              </div>

              <div class="content">
                <div class="header">Luke Dorman</div>
                <div class="meta">SAAM</div>

              </div>

            </a>

            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/emXddn/Screen_Shot_2018_05_08_at_10_12_29_PM.png"
                  alt="Screen_Shot_2018_05_08_at_10_12_29_PM" border="0">

              </div>

              <div class="content">
                <div class="header">Lauren James</div>
                <div class="meta">DEVO</div>

              </div>

            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/fkxByn/bryce.jpg" alt="bryce" border="0">
              </div>

              <div class="content">
                <div class="header">Bryce Mckinnon</div>
                <div class="meta">DEVO</div>

              </div>

            </a>


            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/i72NM7/a.jpg" alt="a" border="0">
              </div>
              <div class="content">
                <div class="header">Danielle Benavides</div>
                <div class="meta">SHIP</div>

              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/gv6hM7/Screen_Shot_2018_05_08_at_10_32_09_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_10_32_09_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Matthew Dew</div>
                <div class="meta">SAAM</div>

              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/mD0non/Screen_Shot_2018_05_08_at_10_32_20_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_10_32_20_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Hena Wadhwania</div>
                <div class="meta">SHIP</div>

              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/en0WES/Screen_Shot_2018_05_08_at_10_32_35_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_10_32_35_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Lauren Baker</div>
                <div class="meta">DEVO</div>

              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/bDSYTn/Screen_Shot_2018_05_08_at_10_32_46_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_10_32_46_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Allen Lambert</div>
                <div class="meta">DEVO</div>

              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/de6Son/Screen_Shot_2018_05_08_at_10_33_37_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_10_33_37_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Ale Briseno</div>
                <div class="meta">RAMH</div>

              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/jMBSon/Screen_Shot_2018_05_08_at_10_34_48_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_10_34_48_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Lorie Martinez</div>
                <div class="meta">DEVO</div>

              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/j0a917/Screen_Shot_2018_05_08_at_10_37_48_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_10_37_48_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Juan Cruces</div>
                <div class="meta">SAAM</div>

              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/fOmtTn/Screen_Shot_2018_05_08_at_10_41_34_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_10_41_34_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Adil Khawaja</div>
                <div class="meta">SAAM</div>

              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/dMr4ZS/Screen_Shot_2018_05_08_at_10_42_27_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_10_42_27_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Aidan Read</div>
                <div class="meta">RAMH</div>

              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/fQ5non/Screen_Shot_2018_05_08_at_10_42_46_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_10_42_46_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Alec Dapra</div>
                <div class="meta">RAMH</div>

              </div>
            </a>

            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/ndmtTn/Screen_Shot_2018_05_08_at_10_44_05_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_10_44_05_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Amber Loehr</div>
                <div class="meta">SAAM</div>

              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/dOAyuS/Screen_Shot_2018_05_08_at_10_44_45_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_10_44_45_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Tony Betancourt</div>
                <div class="meta">DEVO</div>

              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/bEJU17/Screen_Shot_2018_05_08_at_10_45_16_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_10_45_16_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Ashley Murrey</div>
                <div class="meta">SAAM</div>

              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/d9HduS/Screen_Shot_2018_05_08_at_10_45_42_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_10_45_42_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Avery Moyle</div>
                <div class="meta">RAMH</div>

              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/jEKPZS/Screen_Shot_2018_05_08_at_10_46_45_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_10_46_45_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Baldwin Bakkal</div>
                <div class="meta">SHIP</div>

              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/h2OjZS/Screen_Shot_2018_05_08_at_10_49_27_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_10_49_27_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Chase Ostrom</div>
                <div class="meta">SAAM ? or SHIP ? lol</div>

              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/eiJJuS/Screen_Shot_2018_05_08_at_10_49_55_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_10_49_55_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Citlali Castro</div>
                <div class="meta">RAMH</div>

              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/kAtjZS/Screen_Shot_2018_05_08_at_10_50_41_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_10_50_41_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Danielle Benavides</div>
                <div class="meta">SHIP</div>
                <div class="description">

                </div>
              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/m5R4ZS/Screen_Shot_2018_05_08_at_10_52_40_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_10_52_40_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Briana Van Rensburg </div>
                <div class="meta">SAAM</div>
                <div class="description">

                </div>
              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/g4jDTn/Screen_Shot_2018_05_08_at_10_52_47_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_10_52_47_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Erica Petersen</div>
                <div class="meta">RAMH</div>
                <div class="description">

                </div>
              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/ciw4ZS/Screen_Shot_2018_05_08_at_10_54_16_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_10_54_16_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Hannah Stewart</div>
                <div class="meta">SHIP</div>
                <div class="description">

                </div>
              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/eeSp17/Screen_Shot_2018_05_08_at_10_54_57_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_10_54_57_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Isabella Coleman </div>
                <div class="meta">SAAM</div>
                <div class="description">

                </div>
              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/jpsduS/Screen_Shot_2018_05_08_at_10_55_38_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_10_55_38_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Kristen Rodriguez</div>
                <div class="meta">DEVO</div>
                <div class="description">

                </div>
              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/eCrGg7/Screen_Shot_2018_05_08_at_10_55_52_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_10_55_52_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Kayla Smith</div>
                <div class="meta">SAAM</div>
                <div class="description">

                </div>
              </div>
            </a>


            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/cQS08n/Screen_Shot_2018_05_08_at_10_56_42_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_10_56_42_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Jackson Singleton</div>
                <div class="meta">RAMH</div>
                <div class="description">

                </div>
              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/mbqyCp/mo_png.jpg" alt="IMG_0352" border="0">
              </div>
              <div class="content">
                <div class="header">Mo Harhash</div>
                <div class="meta">SAAM</div>
                <div class="description">

                </div>
              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/mKP2M7/Screen_Shot_2018_05_08_at_10_57_00_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_10_57_00_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Jacob Raffety</div>
                <div class="meta">RAMH</div>
                <div class="description">

                </div>
              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/jX9rES/Screen_Shot_2018_05_08_at_10_57_19_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_10_57_19_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Jamie Griffin</div>
                <div class="meta">SAAM</div>
                <div class="description">

                </div>
              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/mhNp17/Screen_Shot_2018_05_08_at_10_57_40_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_10_57_40_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Jenn Lynch</div>
                <div class="meta">SHIP</div>
                <div class="description">

                </div>
              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/cySduS/Screen_Shot_2018_05_08_at_10_58_23_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_10_58_23_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Joey Berlanga</div>
                <div class="meta">SHIP</div>
                <div class="description">

                </div>
              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/evxNM7/Screen_Shot_2018_05_08_at_10_59_01_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_10_59_01_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Kaylin Ware</div>
                <div class="meta">RAMH</div>
                <div class="description">

                </div>
              </div>
            </a>

            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/c9KPZS/Screen_Shot_2018_05_08_at_11_00_57_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_11_00_57_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Lexi Atwood</div>
                <div class="meta">SAAM</div>
                <div class="description">

                </div>
              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/f7ZrES/Screen_Shot_2018_05_08_at_11_03_32_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_11_03_32_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Michael Castano</div>
                <div class="meta">SAAM</div>
                <div class="description">

                </div>
              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/gYDjZS/Screen_Shot_2018_05_08_at_11_05_30_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_11_05_30_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Nicholas Singleton</div>
                <div class="meta">RAMH</div>
                <div class="description">

                </div>
              </div>
            </a>

            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/isvyuS/Screen_Shot_2018_05_08_at_11_06_26_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_11_06_26_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Olivia Farrell</div>
                <div class="meta">RAMH</div>
                <div class="description">

                </div>
              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/mM1Gg7/Screen_Shot_2018_05_08_at_11_07_47_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_11_07_47_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Paker Matthews</div>
                <div class="meta">DEVO</div>
                <div class="description">

                </div>
              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/gq0917/Screen_Shot_2018_05_08_at_11_08_02_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_11_08_02_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Reid Kohls</div>
                <div class="meta">RAMH</div>
                <div class="description">

                </div>
              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/jwxYTn/Screen_Shot_2018_05_08_at_11_08_27_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_11_08_27_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Ryan Brown</div>
                <div class="meta">RAMH</div>
                <div class="description">

                </div>
              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/efNNM7/Screen_Shot_2018_05_08_at_11_08_59_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_11_08_59_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Ryan O'Beirne</div>
                <div class="meta">SHIP</div>
                <div class="description">

                </div>
              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/c8Y7on/Screen_Shot_2018_05_08_at_11_09_50_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_11_09_50_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Kaitlyn Hooks</div>
                <div class="meta">DEVO</div>
                <div class="description">

                </div>
              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/nfOJuS/Screen_Shot_2018_05_08_at_11_10_15_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_11_10_15_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Sean Close</div>
                <div class="meta">SAAM</div>
                <div class="description">

                </div>
              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/jjgSon/Screen_Shot_2018_05_08_at_11_11_49_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_11_11_49_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Sydney Long</div>
                <div class="meta">SHIP</div>
                <div class="description">

                </div>
              </div>
            </a>
            <a class="ui card" href="#">
              <div class="image">
                <img src="https://image.ibb.co/dpWSon/Screen_Shot_2018_05_08_at_11_13_04_PM.jpg"
                  alt="Screen_Shot_2018_05_08_at_11_13_04_PM" border="0">
              </div>
              <div class="content">
                <div class="header">Taylor Stutz</div>
                <div class="meta">SHIP</div>
                <div class="description">

                </div>
              </div>
            </a>


        </div>
      </div>
    </div>
  </div>
  <!-- ------------------------------------------------------------------------------------------- -->


  <% include ../partials/footer %>

  <!--=================================================================================================== -->


  <script type="text/javascript" src="/javascripts/sliders.js"></script>

  </body>
  <!--=================================================================================================== -->

</html>