<html>

<head>

  <title>SLIDE | Meet Staff</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/staff.css">


  <% include ../partials/menu %>


  <div class="ui centered stackable  grid">
    <div class="row">
      <h1 id="title" style="font-size:60px;font-family: 'Roboto Condensed', sans-serif;">SLIDE STAFF '19-'20</h1>
    </div>

    <div class="row">
      <div class="ui text container medium grey header"
        style="font-size:23px;font-weight:bold;font-style:italic;line-height:1.6">As staff, we are very excited for this
        upcoming year and can't wait to meet you. Our staff is dedicated to making your SLIDE experience as memorable as
        possible. Not only are we mentors, but also friends who will be there for you throughout your sophomore year.
      </div>
    </div>


  </div>
  <div class="ui center aligned container stackable grid">
    <div class="row">
      <div class="four wide column">
        <div class="ui black card">
          <div class="ui image">
            <img src="https://i.ibb.co/bF39JRT/jackson.jpg">
          </div>
          <div class="content">
            <a class="header">Jackson Singleton</a>
            <div class="description">
              <p>Position: President </p>
              <p>Major: Biomedical Sciences</p>
              <p>Hometown: Commerce, TX</p>
              <p>Involvement: Fish Camp, Pre-Pharmacy Society </p>
            </div>
          </div>
        </div>
        <div class="ui black card">
          <div class="ui image">
            <img src="https://i.ibb.co/tBg6jV4/eric.jpg">
          </div>
          <div class="content">
            <a class="header">Eric Muñoz</a>
            <div class="description">
              <p>Position: SAAM Executive </p>
              <p>Major: Public Health </p>
              <p>Hometown: The Woodlands, TX</p>
              <p>Involvement: Fish Camp and Paradigm </p>
            </div>
          </div>
        </div>

        <div class="ui black card">
          <div class="ui image">
            <img src="https://i.ibb.co/wJHndy0/thomas.jpg">
          </div>
          <div class="content">
            <a class="header">Thomas Eldridge</a>
            <div class="description">
              <p>Position: SAAM Director </p>
              <p>Major: International Studies </p>
              <p>Hometown: Tomball, TX </p>
              <p>Involvement: SLIDE</p>
            </div>
          </div>
        </div>

        <div class="ui black card">
          <div class="ui image">
            <img src="https://i.ibb.co/GJ9ZjFn/sydney.jpg">
          </div>
          <div class="content">
            <a class="header">Sydney Black</a>
            <div class="description">
              <p>Position: SAAM Director</p>
              <p>Major: Marketing, Art minor </p>
              <p>Hometown: Marshall, TX </p>
              <p>Involvement: Fish Camp </p>
            </div>
          </div>
        </div>

        <div class="ui black card">
          <div class="ui image">
            <img src="https://i.ibb.co/MsN2DTR/daniela.jpg">
          </div>
          <div class="content">
            <a class="header">Daniela DeLeon</a>
            <div class="description">
              <p>Position: SAAM Director</p>
              <p>Major: Psychology</p>
              <p>Hometown: San Antonio, TX </p>
              <p>Involvement: Fish Camp </p>
            </div>
          </div>
        </div>

        <div class="ui black card">
          <div class="ui image">
            <img src="https://i.ibb.co/zPpKQV5/jules.jpg">
          </div>
          <div class="content">
            <a class="header">Juliana Bozeman</a>
            <div class="description">
              <p>Position: SAAM Director</p>
              <p>Major: Biomedical Science</p>
              <p>Hometown: League City, TX </p>
              <p>Involvement: Artists, Fish Camp, Amsa </p>
            </div>
          </div>
        </div>

        <div class="ui black card">
          <div class="ui image">
            <img src="https://i.ibb.co/tJGq4YD/renaya.jpg">
          </div>
          <div class="content">
            <a class="header">Renata Sanchez</a>
            <div class="description">
              <p>Position: SAAM Director</p>
              <p>Major: Biomedical Science</p>
              <p>Hometown: McAllen, TX</p>
              <p>Involvement: Aggie Sweethearts </p>
            </div>
          </div>
        </div>


      </div>
      <div class="four wide column">
        <div class="ui black card">
          <div class="ui image">
            <img src="https://i.ibb.co/XkcxhPX/citlali.jpg">
          </div>
          <div class="content">
            <a class="header">Citlali Castro </a>
            <div class="description">
              <p>Position: Vice President </p>
              <p>Major: Sociology </p>
              <p>Hometown: Dallas, TX</p>
              <p>Involvement: SLIDE</p>
            </div>
          </div>
        </div>

        <div class="ui black card">
          <div class="ui image">
            <img src="https://i.ibb.co/M5jLy85/sarra.jpg">
          </div>
          <div class="content">
            <a class="header">Sarra Regimand</a>
            <div class="description">
              <p>Position: SHIP Executive </p>
              <p>Major: Psychology </p>
              <p>Hometown: Olathe, KS</p>
              <p>Involvement: SLIDE</p>
            </div>
          </div>
        </div>

        <div class="ui black card">
          <div class="ui image">
            <img src="https://i.ibb.co/9GJLHJn/james.jpg">
          </div>
          <div class="content">
            <a class="header"> James Girvin</a>
            <div class="description">
              <p>Position: SHIP Director </p>
              <p>Major: English</p>
              <p>Hometown: El Paso, TX</p>
              <p>Involvement: Sports for Kids </p>
            </div>
          </div>
        </div>

        <div class="ui black card">
          <div class="ui image">
            <img src="https://i.ibb.co/0QcyD6w/kennedy.jpg">
          </div>
          <div class="content">
            <a class="header">Kennedy Woolweaver</a>
            <div class="description">
              <p>Position: SHIP Director </p>
              <p>Major: Industrial Engineering</p>
              <p>Hometown: Houston, TX </p>
              <p>Involvement: Gamma Phi Beta </p>
            </div>
          </div>
        </div>

        <div class="ui black card">
          <div class="ui image">
            <img src="https://i.ibb.co/zr4v5FJ/redhead.jpg">
          </div>
          <div class="content">
            <a class="header">Parker Wallace</a>
            <div class="description">
              <p>Position: SHIP Director </p>
              <p>Major: Nutrition</p>
              <p>Hometown: Schertz, TX</p>
              <p>Involvement: Kappa Delta </p>
            </div>
          </div>
        </div>

        <div class="ui black card">
          <div class="ui image">
            <img src="https://i.ibb.co/pyz9Rv8/kat.jpg">
          </div>
          <div class="content">
            <a class="header">Kathryn Herin</a>
            <div class="description">
              <p>Position: SHIP Director </p>
              <p>Major: Biomedical Science</p>
              <p>Hometown: Corpus Christi, TX</p>
              <p>Involvement: Fish Camp, Biomedical Science Association </p>
            </div>
          </div>
        </div>


        <div class="ui black card">
          <div class="ui image">
            <img src="https://i.ibb.co/f8mpjq1/adam.jpg">
          </div>
          <div class="content">
            <a class="header">Adam Coberly</a>
            <div class="description">
              <p>Position: SHIP Director </p>
              <p>Major: Finance </p>
              <p>Hometown: Coppell, TX </p>
              <p>Involvement: Fish Camp </p>
            </div>
          </div>
        </div>


      </div>
      <div class="four wide column">
        <div class="ui black card">
          <div class="ui image">
            <img src="https://i.ibb.co/9nNHftm/lexi.jpg">
          </div>
          <div class="content">
            <a class="header">Lexi Durbin</a>
            <div class="description">
              <p>Position: Membership Executive</p>
              <p>Major: Environmental Studies in Agriculture </p>
              <p>Hometown: Bryan, TX</p>
              <p>Involvement: Aggie Transition Camps </p>
            </div>
          </div>
        </div>

        <div class="ui black card">
          <div class="ui image">
            <img src="https://i.ibb.co/Yftjr13/mybf.jpg">
          </div>
          <div class="content">
            <a class="header">Christine Tahan</a>
            <div class="description">
              <p>Position: DEVO Executive</p>
              <p>Major: Psychology</p>
              <p>Hometown: Cypress, TX</p>
              <p>Involvement: Ryllies, Future Aggie Physician Assistants </p>
            </div>
          </div>
        </div>

        <div class="ui black card">
          <div class="ui image">
            <img src="https://i.ibb.co/ckMBFmf/zach.jpg">
          </div>
          <div class="content">
            <a class="header">Zach Galiano</a>
            <div class="description">
              <p>Position: DEVO Director </p>
              <p>Major: Finance</p>
              <p>Hometown: Forney, TX</p>
              <p>Involvement: Fish Camp</p>
            </div>
          </div>
        </div>

        <div class="ui black  card">
          <div class="ui image">
            <img src="https://i.ibb.co/4fM65L5/tyler.jpg">
          </div>
          <div class="content">
            <a class="header">Tyler Briscoe</a>
            <div class="description">
              <p>Position: DEVO Director </p>
              <p>Major: Marketing</p>
              <p>Hometown: Coppell, TX</p>
              <p>Involvement: Fish Camp, Aggie Advertising Club </p>
            </div>
          </div>
        </div>

        <div class="ui black card">
          <div class="ui image">
            <img src="https://i.ibb.co/Khc4VBG/aaron.jpg">
          </div>
          <div class="content">
            <a class="header">Aaron Ramirez</a>
            <div class="description">
              <p>Position: DEVO Director </p>
              <p>Major: Electrical Systems Engineering Technology </p>
              <p>Hometown: Milwaukee, WI </p>
              <p>Involvement: SLIDE</p>
            </div>
          </div>
        </div>

        <div class="ui black card">
          <div class="ui image">
            <img src="https://i.ibb.co/vxcHsDK/kendell.jpg">
          </div>
          <div class="content">
            <a class="header">Kendall Fenske</a>
            <div class="description">
              <p>Position: DEVO Director </p>
              <p>Major: Business Finance</p>
              <p>Hometown: Katy, TX</p>
              <p>Involvement: Alpha Omicron Pi</p>
            </div>
          </div>
        </div>


        <div class="ui black card">
          <div class="ui image">
            <img src="https://i.ibb.co/2sw79v6/dalton.jpg">
          </div>
          <div class="content">
            <a class="header">Dalton “D-Train” Droddy</a>
            <div class="description">
              <p>Position: DEVO Director </p>
              <p>Major: Sport Management</p>
              <p>Hometown: Groves, TX</p>
              <p>Involvement: Fish Camp, Sport Management Society</p>
            </div>
          </div>
        </div>

      </div>
      <div class="four wide column">
        <div class="ui black card">
          <div class="ui image">
            <img src="https://i.ibb.co/gjknFm9/kaitlyn.jpg">
          </div>
          <div class="content">
            <a class="header">Kaitlyn Hooks</a>
            <div class="description">
              <p>Position: Membership Executive</p>
              <p>Major: Public Health</p>
              <p>Hometown: College Station, TX</p>
              <p>Involvement: SLIDE</p>
            </div>
          </div>
        </div>

        <div class="ui black card">
          <div class="ui image">
            <img src="https://i.ibb.co/HPkcs9P/emily.jpg">
          </div>
          <div class="content">
            <a class="header">Emily Garza</a>
            <div class="description">
              <p>Position: RAMH Executive </p>
              <p>Major: Political Science</p>
              <p>Hometown: League City, TX</p>
              <p>Involvement: SLIDE</p>
            </div>
          </div>
        </div>

        <div class="ui black card">
          <div class="ui image">
            <img src="https://i.ibb.co/mHGmCL0/bea.jpg">
          </div>
          <div class="content">
            <a class="header">Beatriz Raroque</a>
            <div class="description">
              <p>Position: RAMH Director </p>
              <p>Major: Communication</p>
              <p>Hometown: Coppell, TX</p>
              <p>Involvement: SLIDE</p>
            </div>
          </div>
        </div>

        <div class="ui black card">
          <div class="ui image">
            <img src="https://i.ibb.co/7n8kj6s/danni.jpg">
          </div>
          <div class="content">
            <a class="header">Danni DeSalme</a>
            <div class="description">
              <p>Position: RAMH Director </p>
              <p>Major: ISEN</p>
              <p>Hometown: San Antonio, TX </p>
              <p>Involvement: SLIDE</p>
            </div>
          </div>
        </div>

        <div class="ui black card">
          <div class="ui image">
            <img src="https://i.ibb.co/MCc3wXM/anni.jpg">
          </div>
          <div class="content">
            <a class="header">Annalea Metzger</a>
            <div class="description">
              <p>Position: RAMH Director </p>
              <p>Major: University Studies Architecture</p>
              <p>Hometown: Austin, TX </p>
              <p>Involvement: Artists, ISMA </p>
            </div>
          </div>
        </div>

        <div class="ui black card">
          <div class="ui image">
            <img src="https://i.ibb.co/8j2qFgM/joey.jpg">
          </div>
          <div class="content">
            <a class="header">Joey O’Donnell</a>
            <div class="description">
              <p>Position: RAMH Director </p>
              <p>Major: Political Science</p>
              <p>Hometown: Grapevine, TX</p>
              <p>Involvement: Fish Camp, Pre-law Society </p>
            </div>
          </div>
        </div>


        <div class="ui black card">
          <div class="ui image">
            <img src="https://i.ibb.co/gdYDzXJ/jacob.jpg">
          </div>
          <div class="content">
            <a class="header">Jake Hessong</a>
            <div class="description">
              <p>Position: RAMH Director </p>
              <p>Major: Computer Science</p>
              <p>Hometown: Dallas, TX</p>
              <p>Involvement: SLIDE</p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <% include ../partials/footer %>

  <script type="text/javascript" src="/javascripts/staff.js"></script>

  </body>
  <!--=================================================================================================== -->

</html>